.video-list-card {
  height: 100px;
  display: flex;
  margin: 2% 0;
  cursor: pointer;
  gap: 2.5%;
  transition: 0.4s;
}

.video-list-card:hover {
  transform: scale(0.9);
  transition: 0.4s;
}

.video-list-card__img {
  width: 165px;
  border-radius: 7px;
}

.video-list-card__info {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  gap: 7%;
  width: 100%;
}
.video-list-card__title {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0.5%;
}

.video-list-card__username {
  color: #aaaaaa;
  font-size: 12px;
  margin: 0;
}

.video-list-card__bottom {
  margin: 0;
  display: flex;
  gap: 1%;
  color: #aaaaaa;
  font-size: 12px;
  width: 100%;
}

.video-list-card__bottom > p {
  margin: 0;
}
