.comments {
  font-family: "Roboto", "Arial", sans-serif;
  h4 {
    font-size: 20px;
    color: #f1f1f1;
  }

  &__input {
    display: flex;
    gap: 2vh;
    img {
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }
    div {
      width: 100%;
      input {
        width: 100%;
        padding-bottom: 1vh;
        color: #f1f1f1;
        border: none;
        border-bottom: 1px solid gray;
        background: transparent;
        font-size: 14px;
        transition: 0.2s;

        &:focus {
          border: none;
          border-bottom: 1px solid #f1f1f1;
          outline: none !important;
          transition: 0.2s;
        }
        &:focus-visible {
          border-bottom: 1px solid #f1f1f1;
        }
      }

      div {
        margin-top: 3vh;
        justify-content: flex-end;
        gap: 1vh;
        display: none;
        button {
          border-radius: 20px;
          padding: 1.5vh 2.5vh;
          font-size: 14px;
          font-weight: 500;
          font-family: "Roboto", "arial", sans-serif;
          cursor: pointer;
        }
        button:first-child {
          border: none;
          background: transparent;
          color: #f1f1f1;
          transition: 0.2s;
          &:hover {
            background: #272727;
            transition: 0.2s;
          }
        }
        button:last-child {
          border: none;
          color: #0f0f0f;
          background-color: #3ea6ff;
          font-weight: 500;
          transition: 0.2s;
          &:hover {
            filter: brightness(110%);
            transition: 0.2s;
          }
        }
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-top: 5vh;
    padding-bottom: 5vh;
    &:hover {
      .comments-options {
        display: block;
      }
    }
  }
}

.comment-section {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1%;
  font-family: "Roboto", "Arial", sans-serif;
  img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }

  &__descr {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    &_edit {
      width: 100%;
      input {
        width: 100%;
        padding-bottom: 1vh;
        color: #f1f1f1;
        border: none;
        border-bottom: 1px solid gray;
        background: transparent;
        font-size: 14px;
        transition: 0.2s;

        &:focus {
          border: none;
          border-bottom: 1px solid #f1f1f1;
          outline: none !important;
          transition: 0.2s;
        }
        &:focus-visible {
          border-bottom: 1px solid #f1f1f1;
        }
      }

      &-button {
        margin-top: 3vh;
        justify-content: flex-end;
        gap: 1vh;
        display: none;
        button {
          border-radius: 20px;
          padding: 1.5vh 2.5vh;
          font-size: 14px;
          font-weight: 500;
          font-family: "Roboto", "arial", sans-serif;
          cursor: pointer;
        }
        button:first-child {
          border: none;
          background: transparent;
          color: #f1f1f1;
          transition: 0.2s;
          &:hover {
            background: #272727;
            transition: 0.2s;
          }
        }
        button:last-child {
          border: none;
          color: #0f0f0f;
          background-color: #3ea6ff;
          font-weight: 500;
          transition: 0.2s;
          &:hover {
            filter: brightness(110%);
            transition: 0.2s;
          }
        }
      }
    }

    p:first-child {
      font-size: 13px;
      display: flex;
      gap: 1vh;
      align-items: center;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-size: 14px;
      span {
        color: gray;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .comments-options {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: 0.2s;

    &:hover {
      background-color: #272727;
      transition: 0.2s;
    }

    &:active {
      border-color: gray;
    }
  }
}

.comm-modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #272727;
  border-radius: 10px;
  font-size: 2.2vh;
  p {
    display: flex;
    align-items: center;
    gap: 1vh;
    justify-content: space-around;
    align-content: center;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 1.5vh 2vh;
    background-color: #272727;
    transition: 0.2s;

    svg {
      width: 2.5vh;
      height: 2.5vh;
    }

    &:hover {
      background-color: #353535;
      transition: 0.2s;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
