.like-card {
  display: flex;
  align-items: center;
  gap: 1.5%;
  max-height: 106px;
  padding: 1.4% 3.5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.like-card:hover {
  background-color: #343434;
  transition: 0.1s;
}

.like-card__img {
  max-width: 165px;
  max-height: 90px;
  border-radius: 5px;
}

.like-card__right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.like-card__right > p {
  margin: 0;
}
.like-card__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.like-card__descr {
  display: flex;
  gap: 1%;
}

.like-card__descr > p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #aaaaaa;
}
