.not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.not-found__img {
  margin-top: 8%;
  width: 200px;
  height: 190px;
}

.not-found__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
