/* Уменьшение размера полосы прокрутки */
::-webkit-scrollbar {
  width: 8px; /* Установите желаемую ширину полосы прокрутки */
}

/* Уменьшение размера "бегунка" (ползунка) скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10px; /* Установите желаемый радиус скругления углов "бегунка" */
}

/* Уменьшение размера "бегунка" при наведении на полосу прокрутки */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

@keyframes slide-in {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
